html,
body {
  margin: 0;
  font: 14px "Nunito", sans-serif;
}
.App {
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #020631;
}

.inputAddTodoContainer {
  width: 50%;
  margin: 0 auto;
}
